<header>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMFR7_xc9FjuAgj3Tkyp-bi42IT-Vtq-s-pxNUSLdN2Pc3hT8i">
  <h1>Burgers!</h1>
</header>


<h2>Burgers that have not been eaten</h2>

<ul>
  {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block eat=false}} {{/unless}} {{/each}}
</ul>

<h2>Burgers that I HAVE DEVOURED!</h2>

<ul>
  {{#each burgers}} {{#if devoured}} {{> burgers/burger-block eat=true}} {{/if}} {{/each}}
</ul>


{{!-- Add New Burger Section --}}
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgName">Burger Name:</label>
    <input type="text" id="burgName" name="burger_name">
  </div>
  {{!-- Devoured Section --}}
  <div class="form-group">
    <label for="devoured">
      <h3>Devoured?</h3>
    </label>
    <input type="radio" name="devoured" value="1" checked> Devoured!
    <br>
    <input type="radio" name="devoured" value="0"> Not Eaten
  </div>

  <button type="submit" class="addBurg">Add Burger</button>
</form>